<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/employeeView.css">

</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="background1">
        <div class="shape1"></div>
        <div class="shape1"></div>
    </div>

    <div id="main">
        <div id="heading">
            <div id="hh">
                <h2>ADMIN PORTAL</h2>
            </div>
            <div id="options">
            <div id="performance" class="options-button">
                <a href="/employee/admin" style="text-decoration: none;"><button>Performance</button></a>
            </div>
            <div id="employee" class="options-button">
                <a href="/employee/employeeView" style="text-decoration: none;"><button>Employee</button></a>
            </div>
            <div id="reviews" class="options-button">
                <a href="/employee/employeeReview" style="text-decoration: none;"><button>Reviews</button></a>
            </div>
            <div id="assign" class="options-button">
                <button style="color : black" onclick="openReviewForm()">Assign </button></a>
            </div>
            </div>
            <div id="logout">
                <div id="name">
                    &nbsp;&nbsp;<%=locals.name%>
                    
                </div>

                <div id="button">
                    <a style="text-decoration: none;" href="/employee/destroySession"><button>Log Out</button></a>
                </div>
            </div>
        </div>

        <div id="content">

                <div id="employee-list">
                    <div id="emp-add">
                        <div>
                            <h2> Employee List : </h2>
                        </div>
                        <div>
                            <a style="text-decoration: none;"><button onclick="assign()">Add Employee</button></a>
                        </div>
                    </div>
                    
                    <%for(employee of employeeList){%>
                        <div id="employee-list-item">
                            <div id="employee-list-item-content">
                                Employee Name : <%=employee.name%> <br>
                                Pending Reviews : <%=employee.pendingReviews.length%>, Completed Reviews : <%=employee.completedReviews.length%>
                            </div>
                            <div id="employee-list-item-edit">
                                <a style="text-decoration: none;"><button onclick="assign('<%= JSON.stringify(employee) %>')">Edit</button></a>
                            </div>
                        </div>
                    <%}%>
                </div>
                <div id="employee-edit">
                
                </div>
        </div>


        <div id="overlay">
            <div id="review-form">
                <h2>Employee Review Form</h2>
                <form action="/review/addRev" method="POST">
                    <label>Reviewer :</label>
                    <select onchange="updateSelect2()" id="select1" name="reviewer"
                        style="color: black;margin-top: 10px; width: 60%; overflow-x: scroll; white-space: nowrap; height: 30px;">
                        <%for(employee of employeeList){%>
                            <option value="<%=employee.id%>">
                                <%=employee.name%>
                            </option>
                            <%}%>
                    </select>
                    <label>Reviewe :</label>
                    <select name="reviewe" id="select2"
                        style="color: black;margin-top: 10px; width: 60%; overflow-x: scroll; white-space: nowrap; height: 30px;">
        
                        <%for(employee of employeeList){%>
                            <option value="<%=employee.id%>">
                                <%=employee.name%>
                            </option>
                            <%}%>
                    </select>
                    <label>Pending Date:</label>
                    <input type="date" id="pending-date" name="reviewDate" style="width: 60%;" required><br><br>
                    <label>Instruction :</label>
                    <textarea id="instuction" name="instruction" rows="4" cols="50" required></textarea><br><br>
                    <input type="submit" style="width: 100%; height: 45px;" value="Submit" onclick="submitReviewForm()"
                        style="text-align: center;">
        
                </form>
                <button style="width: 100%; height: 45px;" onclick="closeReviewForm()">Close</button>
            </div>
        </div>

    </div>


    <script id="flash-message">
        <%if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'success',
                text: "<%=flash.success%>",
                layout: 'topRight',
                timeout: 500
            }).show();
                    <%}%>
                     <%if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'error',
                text: "<%=flash.error%>",
                layout: 'topRight',
                timeout: 500
            }).show();
        <%}%>
    </script>

    <script>
        function assign(employeeString) {
            if(employeeString == null){
                var employeeEdit = document.getElementById('employee-edit');
                employeeEdit.innerHTML = `
                <form action="/employee/add" method="POST">
                    
                    <h3>Employee Details</h3>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required placeholder="Employee Name">
                
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="Email">
                
                    <label for="department">Department</label>
                    <input type="text" id="department" name="department" required placeholder="Department">
                
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password" name="password" required>

                    <label for="password">Confirm Password</label>
                    <input type="password" placeholder="Password" id="confirm_password" name="confirm_password" required>
                    <br>
                    <input type="submit" style="background-color: white; cursor : pointer; color: black; width: 100%;"><br>

                </form>
                `
            }else{
                var employee = JSON.parse(employeeString);
                var employeeEdit = document.getElementById('employee-edit');
                employeeEdit.innerHTML = `
                <form action="/employee/edit" method="POST">
                    <h3>Edit Employee :</h3>
                    
                    <input type="hidden" value="${employee._id}" id="id" name="id" disabled>

                    <label for="name">Name</label>
                    <input type="text" value="${employee.name}" id="name" name="name" disabled>
                
                    <label for="email">Email</label>
                    <input type="email" value="${employee.email}" id="email" name="email" disabled>
                
                    <label for="department">Department</label>
                    <input type="text" value="${employee.department}" id="department" name="department" required>  
                    <br>
                    <input type="submit" style="background-color: white; cursor : pointer; color: black; width: 100%;"><br>
                    </form>
                    <br>
                    <a href="/employee/remove/${employee._id}"><button>REMOVE EMPLOYEE</button></a><br><br>
                    <a href="/employee/setAdmin/${employee._id}"><button> MAKE ADMIN</button></a>
                `
            }
        }


          function openReviewForm() {
                var mongooseDate = new Date();
                var formattedDate = mongooseDate.toISOString().split('T')[0];
                document.getElementById("pending-date").value = formattedDate;
                document.getElementById("pending-date").min = formattedDate;
                document.getElementById("overlay").style.display = "block";

                updateSelect2();
            }

            function closeReviewForm() {
                document.getElementById("overlay").style.display = "none";
            }

            function submitReviewForm() {
                console.log(idd);
                document.getElementById(idd).remove()
            }
            function updateSelect2() {
                var select1 = document.getElementById('select1');
                var select2 = document.getElementById('select2');
                var selectedOption = select1.options[select1.selectedIndex].value;
                select2.innerHTML = "";
                for (var i = 0; i < select1.options.length; i++) {
                    var option = select1.options[i];
                    if (option.value !== selectedOption) {
                        var newOption = document.createElement('option');
                        newOption.value = option.value;
                        newOption.text = option.text;
                        select2.add(newOption);
                    }
                }
            }
    </script>







</body>

</html>