<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/employeeHome.css">

</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div id="main">
       <div id="header">
            <div id="left">
                &nbsp;EMPLOYEE PORTAL
            </div>
            <div id="right">
                <a style="text-decoration: none;" href="/employee/destroySession"><button>Log Out</button></a>
            </div>
       </div>
       <div id="content">
            <div id="pending">
                <div class="header-text">
                    &nbsp;Pending Reviews
                </div>
                <div id="pending-list">

                    <%for(pendingReview of pendingReviewList){%>


                        <div class="pending-list-item" id="pending-item-1">
                        
                        
                            <div id="item-content">
                                Employee Name : <%=pendingReview.reviewe.name%>  
                                <p class="conent-pending-item">Instructions :  <%=pendingReview.instruction%></p>
                            </div>
                            <div id="item-dates">
                                <div id="start-date">
                                    <p class="conent-pending-item">&nbsp;Start Date : <%=pendingReview.createdAt.toLocaleDateString('en-us', {  year: 'numeric', month: 'short', day: 'numeric' })%></p>
                                </div>
                                <div id="end-date">
                                    <p class="conent-pending-item">&nbsp;End Date : <%=pendingReview.endDate.toLocaleDateString('en-us', { year: 'numeric' , month: 'short' , day: 'numeric' })%></p>
                                </div>
                            </div>
                            <div class="view-list-item">
                                <button class="review" onclick="openReviewForm('<%= JSON.stringify(pendingReview)%>')">Review</button>
                            </div>
                        </div>
                    
                    <%}%>

                </div>
            </div>


            <div id="completed">
                <div class="header-text">
                    &nbsp; Completed Reviews
                </div>
                <div id="completed-list">
                    <!-- <div id="completed-list-item">
                        <div id="employeeName">
                           &nbsp;Employee Name : Rahul Verma
                        </div>
                        <div id="feedback">
                            &nbsp;Feedback :
                            <div id="feedback-content">
                                fsdlkafjldsakjfldsajfla dafsjsalkfjlskdjflkads fsdlkafjldsakjfldsajfla dafsjsalkfjlskdjflkads
                                fsdlkafjldsakjfldsajfla dafsjsalkfjlskdjflkads
                                fsdlkafjldsakjfldsajfla dafsjsalkfjlskdjflkads

                            </div>
                        </div>
                        <div id="reviewDate">
                                &nbsp;Review Date : 30 Sug 2023
                        </div>
                    </div> -->
                        <%for(completedReview of completedReviewList){%>
                            <div class="completed-list-item" id="completed-item-1">
                            
                                <div id="completed-item-content">
                                    <div id="employeeName">
                                        Employee Name : Rahul Verma
                                    </div>
                                    <div id="feedback">
                                        <div id="text" style="display: inline;">
                                            Review :
                                        </div>
                                        <div id="data" style="display: block;">
                                            <%=completedReview.feedback%>
                                        </div>
                                    </div>
                                    <div id="reviewDate">
                                        Review Date : <%=completedReview.createdAt.toLocaleDateString('en-us', {  year: 'numeric', month: 'short', day: 'numeric' })%>
                                    </div>
                                    <div id="overallPerformance" style="display: block;">
                                        Performance :
                                        <%for(var i=0; i < completedReview.overallPerformance; i++){%>
                                            <img src="/images/star.png" style="height: 20px; width: 20px; display: inline;">
                                        <%}%>
                                        <%for(var i=0; i < (5 - completedReview.overallPerformance); i++){%>
                                            <img src="/images/_star.png" style="height: 20px; width: 20px; display: inline;">
                                            <%}%>
                                    </div><br>
                                    <div id="improvementAreas" style="display: flex;justify-content: space-between;">
                                        <div style="display: inline">
                                            Improvement Areas :
                                        </div>
                                        <div style=" width: 50%;display: inline; border: 0.5px solid white; border-radius: 2px; padding :5px 5px;">
                                            <%for(improvement of completedReview.improvementArea){%>
                                                <%=improvement%>,&nbsp;
                                             <%}%>
                                        </div>
                            
                                    </div>
                                   
                            
                                </div>

                             </div>

                        <%}%>

                
            </div>
       </div>
    </div>

   



    <div id="overlay">
        <div id="review-form">
            <h2>Employee Review Form</h2>
            <form action="/employee/addReview" method="POST">
                <label for="employee-name">Employee Name:</label>
                <input type="text" id="employee-name" name="employee-name"  disabled><br><br>
                <label for="review-date">Review Date:</label>
                <input type="date" id="review-date" name="review-date"  disabled><br><br>
                <label for="reviewComments">Review Comments:</label>
                <textarea id="reviewComments" name="reviewComments" rows="4" cols="50" required></textarea><br><br>
                <label for="overallPerformance">Overall Performance:</label>
                <input type="range" min="0" max="5" id="overall-performance" name="overallPerformance" style="color : yellow" required>
                <label for="improvementArea">Improvemnet Areas :</label>
                <input type="text" id="myInput" name="improvementArea" multiple required><br><br>
                <input type="hidden" id="pendingId" name="pendingId" value=""> 
                <input type="submit" style="width: 100%; height: 45px;" value="Submit" onclick="submitReviewForm()" style="text-align: center;">
                
            </form>
            <button style="width: 100%; height: 45px;" onclick="closeReviewForm()">Close</button>
        </div>
    </div>

    <script>
        var idd;
        function openReviewForm(pendingReview) {
            var pendingRev = JSON.parse(pendingReview);
            console.log(pendingRev);
            document.getElementById("overlay").style.display = "block";
            document.getElementById("employee-name").value = pendingRev.reviewe.name;
            var today = new Date().toISOString().substr(0, 10);
            document.getElementById("review-date").value = today;
            document.getElementById("pendingId").value = pendingRev._id;
        }

        function closeReviewForm() {
            document.getElementById("overlay").style.display = "none";
        }

        function submitReviewForm() {
            console.log(idd);
            document.getElementById(idd).remove()
        }
    </script>
   

















































        <script id="flash-message">
            // Get the button and popup overlay elements
        <%if (flash.success && flash.success.length > 0) {%>
                new Noty({
                    theme: 'relax',
                    type: 'success',
                    text: "<%=flash.success%>",
                    layout: 'topRight',
                    timeout: 500
                }).show();
                    <%}%>
                     <%if (flash.error && flash.error.length > 0) {%>
                new Noty({
                    theme: 'relax',
                    type: 'error',
                    text: "<%=flash.error%>",
                    layout: 'topRight',
                    timeout: 500
                }).show();
        <%}%>
        </script>
       
       
</body>

</html>
