

body {
    background-color: #080710;
    /* background-color: rgb(107, 65, 65); */
}

.background {
 
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.background1 {

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background1 .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -720px;
    top: -480px;
}
.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -720px;
    bottom: -500px;
}
.shape1:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -720px;
    bottom: -480px;
}

.shape1:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -720px;
    top: -500px;
}




#main *{
    color: white;
}
#main {
    margin-top: 5vh;
    height: 90vh;
    width: 90vw;
    min-height: 860px;
    min-width: 1200px;
    position: absolute;
    margin-left: 5vw;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
   
}

#heading{
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom : 1px solid white;
}
#hh{
    height: 50px;
    min-width: 225px;
    border-right: 1px solid white;
}
#options{
    height: 50px;
    width: 60%;
    display: flex;
    border-right: 1px solid white;
    justify-content: space-around;
    color : black;
    
}

#logout{
    display: inline;
    display: flex;
    height: 50px;
    width: 25%;
    justify-content: space-between;
}
#name{
    display: inline;
    min-width: 200px;
   width: 60%;
    height: 50px;
    overflow: scroll;
}
#button{
    display: inline;
    width: 40%;
    height: 50px;
}
#button a button{
cursor: pointer;
   color : black;
   font-family: monospace;
   font-size: 15px;
    width: 100%;
    height: 100%;
}
#button a button:hover {
    background-color: #23a2f6;
}
#content{
    display: flex;
    margin-top: 20px;
    height: 92%;
    width: 100%;
    justify-content: space-around;
}
#pending{
    display: inline;
    margin-top: 10px;
    width: 45%;
    height: 95%;
    border: 1px solid white;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
#completed {
    margin-top: 10px;
    display: inline;
    width: 45%;
    height: 95%;
    border: 1px solid white;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


.pending-list-item{
    width: 95%;
    height: 80px;
    border: 1px solid white;
    opacity: 100%;
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(35, 149, 255, 0.5);
    box-shadow: 1px 5px 0px lightblue;
    background-color: rgba(255, 255, 255, 0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        margin-left: 10px;
       
}
.completed-list-item {
    margin-left: 10px;
    width: 95%;
    height: 120px;
    border: 1px solid white;
    opacity: 100%;
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(35, 149, 255, 0.5);
    box-shadow: 1px 5px 0px lightblue;
    background-color: rgba(255, 255, 255, 0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#pending-item-content {
    width: 60%;
    height: 100%;
    height: 40px;
    padding: 20px 20px;
    border-right: 3px solid white;
    opacity: 100%;
    display: block;
    color: white;
    font-size: 16px;
    font-family: monospace;
    overflow-x: scroll;
    margin-bottom: 10px;
}

#item-dates {
    display: flex;
    width: 40%;
    height: 80px;
    display: inline-block;
    
}

#start-date {
    width: 100%;
}

#end-date {
    height: 50%;
}
#completed-item-content{
    width: 65%;
    height: 100px;
    padding: 10px 10px;
    border-right: 3px solid white;
    opacity: 100%;
    color: white;
    font-size: 14px;
    font-family: monospace;
    overflow-x: scroll;
    margin-bottom: 10px;
    justify-content: space-around;
}
#feedback{
    display: flex;
}
#text{
    height: 100%;
    display: inline-block;
    width: 35%;
}
#data{
    padding: 10px 10px;
    height: 60px;
    display: block;
    overflow-y: scroll;
    width: 100%;
    border: 0.5px solid white;
    padding: 5px 5px;
    border-radius: 2%;
}
.emp1, .emp2{
    text-align: center;
    padding :10px 5px;
    font-size: 14px;
   border-bottom: 1px solid white;
    height: 20px;
    overflow: scroll;
}
.emp3{
     text-align: center;
    padding :10px 5px;
    font-size: 14px;
    height: 20px;
    overflow: scroll;
}
#options .options-button a button {
    color : black;

}
.options-button button {
    width: auto;
    height: 100%;
    display: inline;
    color: black;
    font-family: monospace;
    font-size: 18px;
    padding: 0px 40px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#review-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 450px;
    color: black;
}

#review-form h2 {
    margin-top: 0;
}

#review-form label {
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
    color: black;
}

#review-form input[type="text"],
#review-form input[type="date"],
#review-form textarea {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: black;
}

#review-form input[type="submit"],
#review-form button {
    display: block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;
}

#review-form input[type="submit"] {
    width: 440px;
}

#review-form input[type="submit"]:hover,
#review-form button:hover {
    background-color: #3e8e41;
}

.conent-pending-item {
    margin-bottom: 0;
}

#review-form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

input[type="range"] {
    --webkit-appearance: none;
    width: 60%;
    height: 15px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #00bcd4;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #008ba3;
}