body {
    background-color: #080710;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -550px;
    top: -200px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -550px;
    bottom: -200px;
}

#main {
    
    width: 80vw;
    min-height: 870px;
    min-width: 1200px;
    position: absolute;
    margin-left: 10vw;
        margin-top: 5vh;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 1px solid white;
}


#header{
    display: flex;
    min-height: 50px;
    min-width: 100%;
    border-bottom: 1px solid white;
}
#left{
    display: inline-block;
    min-width: 65%;
    height: 50px;
    color : white;
    font-size: 30px;
    font-family: monospace;
    border-right: 1px solid white;
}
#right{
    display: inline-block;
    min-height: 50px;
    min-width: 35%;
}
button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 20px;
}

#content{
    display: flex;
    height: 100%;
    width: 100%;
}
#pending{
    height: 820px;
    width: 65%;
    display: inline-block;
    border-right: 1px solid white;
}
#completed {
    height: 820px;
    width: 35%;
    display: inline-block;
}
.header-text{
    width: 100%;
    height: 40px;
    font-size: 25px;
    font-family: monospace;
    padding: 5px 0px;
    color : white;
    border-bottom: 1px solid white;
}
#pending-list{
    height: 750px;
    width: 95%;
   margin-left: 15px;
   margin-top: 10px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.01);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    
}
.pending-list-item{
    margin-top: 10px;
    margin-left: 20px;
    width: 95%;
    height: 100px;
    opacity: 100%;
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 0.5px solid black;
    
}
#item-content{
    width: 55%;
    height: 60px;
    padding: 20px 20px;
    border-right: 0.5px solid white;
    opacity: 100%;
    display: inline-block;
    color : white;
    font-size: 18px;
    font-family: monospace;
    overflow-x: scroll;
    margin-bottom: 10px;
    white-space: nowrap;
}
#item-dates{
    display: flex;
    width: 35%;
    height: 100px;
    display: inline-block;
    font-size: 15px;
}
#start-date{ 
    width: 100%;
    border-bottom: 0.5px solid white;
    height: 50%;
    white-space: nowrap;
    overflow-x: scroll;
    margin-right: 10px;

        
}
#end-date{
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
}
.view-list-item{
    margin-top: 2px;
    width: 15%;
    height: 95%;    
    border-radius: 20px;
    
}
.view-list-item button{
    background-color: rgb(131, 92, 92);
    border-radius: 5px;
    color: white;
    border-left: 1px solid white;
}
.view-list-item button:hover {
    background-color: blue;
    color: white;
}
.conent-pending-item{
    font-size: 15px;
    color: white;
    font-family: monospace;
}


#employeeName{
    height: 15%;
    width: 100%;
    overflow: scroll;
    padding: 5px 0px;
    white-space: nowrap;    
    
        
}
#feedback{
    height: 60%;
    width: 100%;
        
}
#feedback-content{
    height: 80%;
    width: 95%;
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 10px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 0.5px solid white;
    padding-left: 4px;
    
}
#reviewDate{
    margin-top: 5px;
    height: 20%;
    width: 100%;
}


#completed-list{
    height: 750px;
    width: 92%;
    margin-left: 15px;
    margin-top: 10px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}




#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#review-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width : 550px;
}

#review-form h2 {
    margin-top: 0;
}

#review-form label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

#review-form input[type="text"],
#review-form input[type="date"],
#review-form textarea {
    width: 350px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

#review-form input[type="submit"],
#review-form button {
    display: block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
   
}

#review-form input[type="submit"]:hover,
#review-form button:hover {
    background-color: #3e8e41;
}

.conent-pending-item {
    margin-bottom: 0;
}

#review-form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

input[type="range"] {
    --webkit-appearance: none;
    width: 60%;
    height: 15px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #00bcd4;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #008ba3;
}



















.completed-list-item {
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    height: 180px;
    border: 1px solid white;
    opacity: 100%;
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(35, 149, 255, 0.5);
    box-shadow: 1px 5px 0px lightblue;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 0.5px solid black;
}

#completed-item-content {
    width: 100%;
    height: 160px;
    padding: 10px 10px;
    opacity: 100%;
    color: white;
    font-size: 15px;
    font-family: monospace;
    overflow-x: scroll;
    margin-bottom: 10px;
    justify-content: space-around;
}

#feedback {
    display: flex;
    height: 40%;
}

#text {
    height: 100%;
    display: inline-block;
    width: 35%;
}

#data {
    padding: 10px 10px;
    height: 50px;
    display: block;
    overflow-y: scroll;
    width: 100%;
    border: 0.5px solid white;
    padding: 5px 5px;
    border-radius: 2%;
}