body {
    background-color: #080710;
    /* backgroxund-color: rgb(107, 65, 65); */
}

.background {

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.background1 {

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background1 .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -720px;
    top: -480px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -720px;
    bottom: -500px;
}

.shape1:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -720px;
    bottom: -480px;
}

.shape1:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -720px;
    top: -500px;
}




#main * {
    color: white;
}

#main {
    margin-top: 5vh;
    height: 90vh;
    width: 90vw;
    min-height: 860px;
    min-width: 1050px;
    position: absolute;
    margin-left: 5vw;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

}

#heading {
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid white;
}

#hh {
    height: 50px;
    min-width: 225px;
    border-right: 1px solid white;
}

#options {
    height: 50px;
    width: 60%;
    display: flex;
    border-right: 1px solid white;
    justify-content: space-around;
    color: black;

}

#logout {
    display: inline;
    display: flex;
    height: 50px;
    width: 25%;
    justify-content: space-between;
    
}

#name {
    display: inline;
    width: 60%;
    height: 45px;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.13);
     
       
     
    font-size: 25px;
    padding-top: 5px;
}

#button {
    display: inline;
    width: 40%;
    height: 50px;
   
}

#button a button {
    cursor: pointer;
    color: black;
    font-family: monospace;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

#button a button:hover {
    background-color: #23a2f6;
}

#content {
    display: flex;
    margin-top: 30px;
    height: 92%;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}


#options .options-button a button {
    color: black;

}

.options-button button {
    width: auto;
    height: 100%;
    display: inline;
    color: black;
    font-family: monospace;
    font-size: 18px;
    padding: 0px 40px;
    cursor: pointer;
}

#employee-list {
    width: 50%;
    height: 90%;
    border: 1px solid white;
    padding: 10px 30px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    overflow: scroll;
   
}

#employee-list-item {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    background-color: grey;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#employee-list-item-content {
    width: 70%;
    height: 80%;

    padding: 5px 35px;
    overflow: scroll;
    font-family: monospace;
    font-size: 20px;
}

#employee-list-item-edit {
    width: 20%;
    height: 100%;

}

#employee-edit {
    width: 40%;
    height: 90%;

    padding: 10px 30px;
    margin-top: 10px;
}

#employee-list-item-edit a button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: black;
    font-family: monospace;
    font-size: 16px;


}

/* EDIT FORM*/
#employee-edit form {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 35px;
}

#employee-edit form input {
    display: block;
    height: 40px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid white;
}

#employee-edit form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

#employee-edit form input::placeholder {
    color: #e5e5e5;
}

#employee-edit button {
    color: black;
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    border: none;
}

#employee-edit form button:hover {
    background-color: grey;
}
#emp-add{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
#emp-add div{
    display: inline;
    height: 100%;
}
#emp-add div a button{
    height: 80%;
    width: 100%;
    color : black;
    font-family: monospace;
    font-size: 15px;
    border-radius: 5px;
    border : none;
    padding: 0px 22px;
}




#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#review-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 450px;
    color: black;
}

#review-form h2 {
    margin-top: 0;
}

#review-form label {
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
    color: black;
}

#review-form input[type="text"],
#review-form input[type="date"],
#review-form textarea {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: black;
}

#review-form input[type="submit"],
#review-form button {
    display: block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;
}

#review-form input[type="submit"] {
    width: 440px;
}

#review-form input[type="submit"]:hover,
#review-form button:hover {
    background-color: #3e8e41;
}

.conent-pending-item {
    margin-bottom: 0;
}

#review-form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

input[type="range"] {
    --webkit-appearance: none;
    width: 60%;
    height: 15px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #00bcd4;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #008ba3;
}

#employee-edit form input:focus{
    background-color: white;
    color : black;
}